<app-navbar [fixed]=false></app-navbar>
<div class="mb-5"></div>
<div class="container">
    <div class="breadcrumb-custom">
        <p>
            <a href="javascript:window.history.go(-1);"> <i class="bi bi-arrow-left"></i> Volver</a>
        </p>
        <p>
            <span>Tienda online | Carrito</span>
        </p>
    </div>
</div>
<div class="container checkout">
    <div class="container-fluid" id="grad1">
        <div class="row justify-content-center mt-0">
            <div class="col-11 col-md-12 col-lg-9 text-center p-0 mt-3 mb-2">
                <div class="px-0 pt-4 pb-0 mt-3 mb-3">
                    <h2>Carrito de compras</h2>
                    <div class="col-lg-12">
                        <p>Complete los campos y haga click en continuar para completar el proceso de compra</p>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mx-0">
                            <form id="msform">
                                <!-- progressbar -->
                                <ul id="progressbar">
                                    <li [ngClass]="{'active':step == 1 }" id="account" (click)="goToStep(1)">
                                        <strong>Carrito</strong>
                                    </li>
                                    <li [ngClass]="{'active':step == 2 }" id="personal" (click)="goToStep(2)">
                                        <strong>Datos personales</strong>
                                    </li>
                                    <li [ngClass]="{'active':step == 3 }" id="delivery" (click)="goToStep(3)">
                                        <strong>Domicilio</strong>
                                    </li>
                                    <li [ngClass]="{'active':step == 4 }" id="payment" (click)="goToStep(4)">
                                        <strong>Pago</strong>
                                    </li>
                                </ul> <!-- fieldsets -->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 p-0 mb-2">
                <div class="row">
                    <div class="col-md-12 mx-0">
                        <form id="msform">
                            <fieldset *ngIf="step == 1" >
                                <div class="table-responsive" *ngIf="cartService.list.length > 0">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="text-left">Producto</th>
                                                <th scope="col" class="text-center">Precio</th>
                                                <th scope="col" class="text-center">Cantidad</th>
                                                <th scope="col" class="text-center">Subtotal</th>
                                                <th scope="col"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of cartService.list; let i=index;">
                                                <td>
                                                    <img *ngIf="item.picture" src="{{ environment.baseUrl }}uploads/sm/{{ item.picture }}"/>
                                                    <img *ngIf="!item.picture" src="../assets/no-foto.png"/>
                                                    {{ item.name }}
                                                </td>
                                                <td class="text-center">{{ item.currency.symbol }}
                                                    {{ item.price | number:'1.2-2' }}</td>
                                                <td class="text-center">{{ item.quantity }}</td>
                                                <td class="text-center">{{ item.currency.symbol }}
                                                    {{ (item.quantity * item.price) | number:'1.2-2' }}</td>
                                                <td class="text-center"><i
                                                        class="fa fa-trash-alt  cursor-pointer"
                                                        (click)="cartService.delete(item)"></i></td>
                                            </tr>
                                        </tbody>
                                        <tbody class="total">
                                            <tr>
                                                <th scope="col" colspan="4" class="text-right pt-4">
                                                    <h4>TOTAL:</h4>
                                                </th>
                                                <th scope="col" class="text-right pt-4">
                                                    <h4>
                                                        $ {{ cartService.total | number:'1.2-2'}}
                                                    </h4>
                                                </th>
                                            </tr>                                            
                                        </tbody>
                                    </table>
                                </div>
                                <div class="alert text-center" *ngIf="cartService.list.length == 0">
                                    No tiene productos en su carrito.
                                </div>
                                <hr>
                                <div class="text-center py-3">
                                    <button [disabled]="cartService.list.length == 0" (click)="nextStep()" class="btn-get-started rounded-pill btn-primary px-5 py-3">Continuar</button>
                                </div>
                            </fieldset>
                            <fieldset *ngIf="step == 2">
                                <div class="text-center">
                                    <p>Para continuar con el proceso de la compra no es necesario iniciar sesión o registrarse,<br/> solo indique su dirección de Email.</p>
                                    <form autocomplete="off" (ngSubmit)="save(step2)" #step2="ngForm">
                                        <div class="row">
                                            <div class="col-md-6 offset-md-3">
                                                <div class="form-group">
                                                    <input class="form-control rounded-pill py-4 px-4" type="email"
                                                        [class.is-invalid]="step2_email.invalid && step2_email.touched"
                                                        [(ngModel)]="form.step2.email" name="email"
                                                        #step2_email="ngModel" required minlength="5"
                                                        placeholder="E-mail"
                                                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
                                                    <small *ngIf="step2_email.invalid && step2_email.touched"
                                                        class="form-text text-danger">Ingrese un correo  válido</small>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="text-center py-3">
                                            <button type="submit" class="btn-get-started rounded-pill btn-primary px-5 py-3">Continuar</button>
                                        </div>
                                    </form>
                                </div>
                            </fieldset>
                            <fieldset *ngIf="step == 3">
                                <form autocomplete="off" (ngSubmit)="save(step3)" #step3="ngForm">
                                    <div>
                                        <h3>Domicilio</h3>
                                        <p>Por favor ingrese sus datos personales para realizar la entrega</p>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Nombre completo</label>
                                                    <input class="form-control rounded-pill py-4 px-4"
                                                        [class.is-invalid]="step3_name.invalid && step3_name.touched"
                                                        #step3_name="ngModel" required minlength="6" [(ngModel)]="form.step3.name"
                                                        name="step3_name">
                                                    <small *ngIf="step3_name.invalid && step3_name.touched"
                                                        class="form-text text-danger">Ingrese un nombre válido</small>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Nº Rut</label>
                                                    <input class="form-control rounded-pill py-4 px-4"
                                                        [class.is-invalid]="step3_document.invalid && step3_document.touched"
                                                        #step3_document="ngModel" required [(ngModel)]="form.step3.document"
                                                        name="document" minlength="6" maxlength="9">
                                                    <small *ngIf="step3_document.invalid && step3_document.touched"
                                                        class="form-text text-danger">Ingrese un Nº válido</small>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Fono</label>
                                                    <input class="form-control rounded-pill py-4 px-4"
                                                        [class.is-invalid]="step3_phone.invalid && step3_phone.touched"
                                                        #step3_phone="ngModel" required [(ngModel)]="form.step3.phone"
                                                        name="phone" minlength="6">
                                                    <small *ngIf="step3_phone.invalid && step3_phone.touched"
                                                        class="form-text text-danger">Ingrese un Nº válido</small>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Región</label>
                                                    <input class="form-control rounded-pill py-4 px-4"
                                                        [class.is-invalid]="step3_provence.invalid && step3_provence.touched"
                                                        #step3_provence="ngModel" required [(ngModel)]="form.step3.provence"
                                                        name="provence">
                                                    <small *ngIf="step3_provence.invalid && step3_provence.touched"
                                                        class="form-text text-danger">Este campo es
                                                        obligatorio</small>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Ciudad</label>
                                                    <input class="form-control rounded-pill py-4 px-4"
                                                        [class.is-invalid]="step3_city.invalid && step3_city.touched"
                                                        #step3_city="ngModel" required [(ngModel)]="form.step3.city"
                                                        name="city">
                                                    <small *ngIf="step3_city.invalid && step3_city.touched"
                                                        class="form-text text-danger">Este campo es
                                                        obligatorio</small>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Dirección</label>
                                                    <textarea class="form-control rounded-pill py-4 px-4"
                                                        [class.is-invalid]="step3_address.invalid && step3_address.touched"
                                                        #step3_address="ngModel" required
                                                        [(ngModel)]="form.step3.address" name="address"></textarea>
                                                    <small *ngIf="step3_address.invalid && step3_address.touched"
                                                        class="form-text text-danger">Este campo es
                                                        obligatorio</small>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <hr>
                                        <div class="text-center py-3">
                                            <button type="submit" class="btn-get-started rounded-pill btn-primary px-5 py-3">Continuar</button>
                                        </div>
                                    </div>
                                </form>
                            </fieldset>
                            <fieldset *ngIf="step == 4">
                                <form autocomplete="off" (ngSubmit)="save(step3)" #step3="ngForm">
                                    <div >
                                        <div class="col-md-8 offset-md-2">
                                            <h3>Pago</h3>
                                            <p>Ingrese los datos de su tarjeta de crédito</p>

                                            <div class="row">
                                                <div class="col-sm-12 form-group">
                                                    <label>Titular de la tarjeta</label>
                                                    <input type="text" placeholder="Juan Perez" class="form-control rounded-pill py-4 px-4"
                                                        [class.is-invalid]="step4_name.invalid && step4_name.touched"
                                                        #step4_name="ngModel" required [(ngModel)]="form.step4.name"
                                                        name="step4_name">
                                                    <small *ngIf="step4_name.invalid && step4_name.touched"
                                                        class="form-text text-danger">Este campo es
                                                        obligatorio</small>
                                                </div>
                                                <div class="col-sm-12 form-group">
                                                    <label>Número de la tarjeta</label>
                                                    <input type="text" placeholder="1234-1234-1234-1234"
                                                        class="form-control rounded-pill py-4 px-4"
                                                        [class.is-invalid]="step4_number.invalid && step4_number.touched"
                                                        #step4_number="ngModel" required [(ngModel)]="form.step4.number"
                                                        name="step4_number">
                                                    <small *ngIf="step4_number.invalid && step4_number.touched"
                                                        class="form-text text-danger">Este campo es
                                                        obligatorio</small>
                                                </div>
                                                <div class="col-sm-6 form-group">
                                                    <label>Vencimiento</label>
                                                    <input type="text" placeholder="06/22" class="form-control rounded-pill py-4 px-4"
                                                        [class.is-invalid]="step4_date.invalid && step4_date.touched"
                                                        #step4_date="ngModel" required [(ngModel)]="form.step4.date"
                                                        name="ste4_date">
                                                    <small *ngIf="step4_date.invalid && step4_date.touched"
                                                        class="form-text text-danger">Este campo es
                                                        obligatorio</small>
                                                </div>
                                                <div class="col-sm-6 form-group">
                                                    <label>Código</label>
                                                    <input type="text" placeholder="123" class="form-control rounded-pill py-4 px-4"
                                                        [class.is-invalid]="step4_code.invalid && step4_code.touched"
                                                        #step4_code="ngModel" required [(ngModel)]="form.step4.code"
                                                        name="step4_code">
                                                    <small *ngIf="step4_code.invalid && step4_code.touched"
                                                        class="form-text text-danger">Este campo es
                                                        obligatorio</small>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="text-center py-3">
                                            <button type="submit" class="btn-get-started rounded-pill btn-primary px-5 py-3">Continuar</button>
                                        </div>
                                    </div>
                                </form>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-popups [section]="'CART'"></app-popups>