<section id="contact">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 m-0 p-0 wow fadeInLeft">
				<div style="position:relative;text-align:right;height:570px;width:100%;">
					<div class="gmap_canvas">
						<iframe width="100%" height="500"
							style="overflow: hidden;background: none !important;height: 570px;width: 100%;"
							src="https://maps.google.com/maps?q=Las%20Esteras%20Norte%202351,%20Quilicura&t=&z=15&ie=UTF8&iwloc=&output=embed"
							frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
						</iframe>
					</div>
				</div>
			</div>
			<div class="col-sm-6 box wow fadeInRight">
				<h2>CONTACTENOS</h2>
				<div class="mt-5">
					<p>Las Esteras Norte 2351, Quilicura<br/>Fono: <a href="tel:+56225772400">+ 56 2 2577 2400</a></p>
				</div>
				<div class="">
					<p>Email: <a href="mailto:contacto@unisan.cl">contacto@unisan.cl</a></p>
				</div>
				<h2>REDES SOCIALES</h2>
				<div class="row social mt-5">
					<div class="col-sm-7 ">
						<p>
							<a href="https://www.linkedin.com/company/unisan-chile/" target="_blank"><i class="bi bi-linkedin"></i> company/unisan-chile/</a>
						</p>
					</div>
					<div class="col-sm-5 ">
						<p>
							<a href="https://www.instagram.com/uniboxs_unisan/" target="_blank"><i class="bi bi-instagram"></i> uniboxs_unisan/</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>