<app-navbar [fixed]=false></app-navbar>
<div class="container">
    <div class="account">
        <div class="row py-5">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <div class="card box-login p-4">
                    <div class="card-body">
                        <form  (ngSubmit)="save(reset)" #reset="ngForm">
                            <h4 class="card-title text-center text-dark">Blanquear contraseña</h4>
                            <hr>
                            <div class="row py-4" *ngIf="!locked">
                                <div class="col-sm-12 form-group">
                                    <label>Nueva contraseña</label>
                                    <input class="form-control rounded-pill py-4 px-4" type="password"
                                        [class.is-invalid]="login_password1.invalid && login_password1.touched"
                                        [(ngModel)]="form.reset.password1" name="password1"
                                        #login_password1="ngModel" required minlength="5">
                                    <small *ngIf="login_password1.invalid && login_password1.touched" class="form-text text-danger">Ingrese una contraseña válida</small>
                                </div>
                                <div class="col-sm-12 form-group">
                                    <label>Repita la nueva contraseña</label>
                                    <input class="form-control rounded-pill py-4 px-4" type="password"
                                        [class.is-invalid]="login_password2.invalid && login_password2.touched"
                                        [(ngModel)]="form.reset.password2" name="password2"
                                        #login_password2="ngModel" required minlength="5">
                                    <small *ngIf="login_password2.invalid && login_password2.touched" class="form-text text-danger">Ingrese una contraseña válida</small>
                                </div>
                            </div>
                            <div class="text-center" *ngIf="!locked">
                                <p>
                                    <small *ngIf="reset_failed" class="form-text text-danger">Las contraseñas son inválidas</small>
                                </p>
                                <button class="btn-get-started rounded-pill btn-primary px-5 py-3" >Blanquear contraseña</button>
                            </div>
                            <div *ngIf="locked" class="text-center">
                                <div class="alert alert-danger p-4">
                                    Este link ha caducado, por favor intente recuperar la contraseña nuevamente.
                                </div>
                                <div class="text-center"><a routerLink="/olvideMiContrasena">Recuperar mi contraseña</a></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
</div>