<div class="text-center mt-0 mb-3">
    <i class="bi bi-person-circle" style="font-size: 6rem;"></i>
</div>
<ul class="list-group list-group-flush">
    <li class="list-group-item p-3">
        <a class="my-1 p-2 pl-4" routerLinkActive="active" routerLink="/pedidos">Mis pedidos</a>
    </li>
    <li class="list-group-item p-3">
        <a class="my-1 p-2 pl-4" routerLinkActive="active" routerLink="/convenios">Mis convenios</a>
    </li>
    <li class="list-group-item p-3">
        <a class="my-1 p-2 pl-4" routerLinkActive="active" routerLink="/contratos">Mis contratos</a>
    </li>
    <li class="list-group-item p-3" *ngIf="loginService['user']['role']=='ROLE_CUSTOMER_SUPER'">
        <a class="my-1 p-2 pl-4" routerLinkActive="active" routerLink="/usuarios">Usuarios</a>
    </li>
    <li class="list-group-item p-3">
        <a class="my-1 p-2 pl-4" routerLinkActive="active" routerLink="/misdatos">Mis datos</a>
    </li>
    <li class="list-group-item p-3">
        <a class="my-1 p-2 pl-4" href="javascript:void()" (click)="logout()">Salir</a>
    </li>
</ul>