<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="">Inicio</a></li>
        <li class="breadcrumb-item"><a routerLink="/mispedidos">Mis pedidos</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ data.id }}</li>
    </ol>
</nav>
<div class="card mb-3"  *ngIf="data.items.length > 0">
    <div class="card-body">
        <div class="row">
            <div class="col-md-3">
                <label><span class="font-weight-bold">Pedido Nº:</span> {{ data.id }}</label>
            </div>
            <div class="col-md-3">
                <label><span class="font-weight-bold">Fecha:</span> {{ data.createdAt | date:'dd/MM/yyyy HH:mm' }}</label>
            </div>
            <div class="col-md-3">
                <label><span class="font-weight-bold">Estado:</span> <span class="badge badge-{{ data.status.color }}">{{ data.status.name }}</span></label>
            </div>
            <div class="col-md-3">
                <label><span class="font-weight-bold">Actualizado:</span> {{ data.updatedAt | date:'dd/MM/yyyy HH:mm' }}</label>
            </div>
        </div>
    </div>
</div>
<div class="table-responsive" *ngIf="data.items.length > 0">
    <table class="table table-striped" >
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Producto</th>
                <th scope="col" class="text-right">Precio</th>
                <th scope="col" class="text-center">Cantidad</th>
                <th scope="col" class="text-right">Subtotal</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of data.items; let i=index;">
                <th scope="row">{{ i + 1}}</th>
                <td>{{ item.product.name }}</td>
                <td class="text-right">{{ item.product.currency.symbol }} {{ item.price | number:'1.2-2' }}</td>
                <td class="text-center">{{ item.quantity }}</td>
                <td class="text-right">{{ item.product.currency.symbol }} {{ item.subtotal | number:'1.2-2' }}</td>
            </tr>
            <tr>
                <th scope="col" colspan="4" class="text-right">TOTAL: </th>
                <th scope="col" class="text-right">$ {{ data.totals[0].total | number:'1.2-2'}}</th>
            </tr>
        </tbody>
    </table>
</div>