<section id="about">
    <div class="row about-container">
        <div class="col-lg-6 background order-lg-1 order-1 wow fadeInLeft"></div>
        <div class="col-lg-6 content order-lg-2 order-2 pt-5">
            <h2 class="title">Nuestra Empresa</h2>
            <p>
                Nuestro conocimiento y experiencia, junto con una excelente atención al cliente y un servicio cercano,
                nos convierte en uno de los principales proveedores de servicios ambientales y arriendo de baños
                químicos de Chile.
            </p>
            <div class="mb-5">
                <div id="carouselAbout" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner mb-3">
                        <div class="carousel-item active">
                            <h3><i class="bi bi-bullseye text-primary"></i> MISIÓN</h3>
                            <p>Resolver proactivamente los problemas sanitarios y ambientales de nuestros clientes, creándoles valor a través de nuestros servicios.</p>
                        </div>
                        <div class="carousel-item">
                            <h3><i class="bi bi-eye text-primary"></i> VISIÓN</h3>
                            <p>Ser un actor relevante en la industria nacional de servicios sanitario y ambientales,
                                trabajando con pasión para que los clientes nos reconozcan como los mejores prestadores
                                de                                servicios.</p>
                        </div>
                        <div class="carousel-item">
                            <h3><i class="bi bi-shield-check text-primary"></i> VALORES</h3>
                            <p>
                                <strong>Integridad</strong> en nuestro comportamiento,
                                <strong>excelencia</strong> profesional,
                                <strong>entusiasmo</strong> por encontrar una solución a la medida para cada cliente,
                                foco en las <strong>personas</strong> y
                                compromiso de <strong>credibilidad</strong> y confianza, son nuestros valores.</p>
                        </div>
                    </div>
                    <button class="btn-carrousel btn rounded-circle btn-outline-primary mr-2" onclick="javascript:$('#carouselAbout').carousel('prev')">
                        <i class="bi bi-chevron-left"></i>
                    </button>
                    <button class="btn-carrousel btn rounded-circle btn-primary" onclick="javascript:$('#carouselAbout').carousel('next')">
                        <i class="bi bi-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>