<app-navbar [fixed]=true></app-navbar>
<section id="header-product" class="whitout-search">
    <div class="header-container">
        <div class="container">
            <h2 class="text-center mt-4"></h2>
        </div>
    </div>
</section>
<section id="result" class="mt-5">
    <div class="container">
        <div class="container">
            <div class="breadcrumb-custom">
                <p><a href="javascript:window.history.go(-1);"> <i class="bi bi-arrow-left"></i> Volver</a></p>
                <p>
                    <span *ngIf="categorySelected=='forIndustry'">Para la Industria | </span>  
                    <span *ngIf="categorySelected=='forHome'">Para Hogar | </span> 
                    <span *ngIf="categorySelected=='forEvent'">Para Eventos | </span>  
                    <span>{{ service.name }}</span>
                </p>
            </div>
            <h2 class="text-uppercase text-center text-dark bold-700 mt-4">{{ service.name }}</h2>
            <div class="row relative mb-5">
                <div class="col-md-10">
                    <div class="box-blue mt-3 wow fadeInLeft" >
                        <div class="row">
                            <div class="col-md-8 text-right">
                                <h2>DESCRIPCIÓN</h2>
                                <p class="mt-5">
                                    {{ service.description }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <img class="img-service wow fadeInRight" *ngIf="service.picture" src="{{ environment.baseUrl }}uploads/md/{{ service.picture }}">
            </div>
            <br/>
            <h2 class="text-uppercase text-center text-dark bold-700 my-5">Seleccione el Tipo de servicio</h2>
            <div class="mb-5">
                <div class="row carousel-cards">
                    <div id="carouselSalient" class="carousel slide" [ngClass]="{'carousel': results.length > 3 }" data-ride="carousel">
                        <div class="carousel-inner row w-100 mx-auto">
                            <ng-container *ngFor="let item of results; let i=index;">
                                <div class="carousel-item col-md-4 mb-4" [ngClass]="{'active': i == 0 }">
                                    <app-card-model-unit [item]=item [categorySelected]=categorySelected></app-card-model-unit>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <div *ngIf="results.length > 3">
                    <div class="wow fadeInLeft">
                        <button class="btn-carrousel btn rounded-circle btn-outline-primary mr-2" onclick="$('#carouselSalient').carousel('prev')">
                            <i class="bi bi-chevron-left"></i>
                        </button>
                        <button class="btn-carrousel btn rounded-circle btn-primary" onclick="$('#carouselSalient').carousel('next')">
                            <i class="bi bi-chevron-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-popups [section]="'SERVICES'"></app-popups>
