<app-navbar [fixed]=false></app-navbar>
<div class="mb-5"></div>
<div class="container">
    <div class="breadcrumb-custom">
        <p>
            <a href="javascript:window.history.go(-1);"> <i class="bi bi-arrow-left"></i> Volver</a>
        </p>
        <p *ngIf="ready">
            <span>Tienda online | {{ data.name }}</span>
        </p>
    </div>
</div>
<div class="container">
    <div class="product_view">
        <div class="row" *ngIf="ready">
            <div class="col-md-6 py-4 px-5">
                <img *ngIf="data.picture" src="{{ environment.baseUrl }}uploads/lg/{{ data.picture }}" class="w-100"
                    alt="{{ data.name }}">
                <!-- <img *ngIf="!data.picture" src="../assets/no-foto.png" class="w-100" alt="{{ data.name }}"> -->
                <img *ngIf="!data.picture" src="https://picsum.photos/seed/{{ data.id }}/500" class="w-100"
                    alt="{{ data.name }}">
            </div>
            <div class="col-md-6 description">
                <h3>{{ data.name }}</h3>
                <hr class="blue mt-4 mb-4">
                <p>DESCRIPCION<br />{{ data.description}}</p>
                <h2>{{ data.currency.symbol }} {{ data.price }}</h2>
                <hr>
                <div class="float-left quantity" style="width: 150px;">
                    <div class="input-group pt-1">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-secondary" (click)="btnMinus()" type="button"><i
                                    class="fa fa-minus"></i></button>
                        </div>
                        <input type="text" [(ngModel)]="data.quantity" class="form-control text-center" placeholder="">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" (click)="btnPlus()" type="button"><i
                                    class="fa fa-plus"></i></button>
                        </div>
                    </div>
                </div>
                <div class="float-right">
                    <button class="btn rounded-pill btn-outline-primary p-3" (click)="addCart()">
                        <span *ngIf="!itemCart">Añadir a carrito</span>
                        <span *ngIf="itemCart">Actualizar</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>