<section id="call-to-action">
    <div class="container wow fadeIn text-center">
        <h1>Conoce <img style="width: 300px; border-radius: 10px;" src="../assets/img/uniboxlogo.png"></h1>
        <p class="cta-text">Servicios sanitarios de lujo para todo tipo de eventos<br/>
            Una solución sustentable en base a energía solar</p>
            <a href="http://uniboxs.cl" target="_blank" title="Solicitar servicio" class="btn btn-primary rounded-pill btn-primary px-4 py-2">Ver más</a>
    </div>
    
</section>