<app-navbar [fixed]=false></app-navbar>
<div class="container">
    <div class="account">
        <div class="row">
            <div class="col-md-3 menu p-4 pb-5">
                <app-menu></app-menu>
            </div>
            <div class="col-md-9 action p-4">
                <div class="box-detail p-3">
                    <div class="row">
                        <div class="col-sm-3">
                            <label>ID</label>
                            <input class="form-control" [(ngModel)]="filter.id">
                        </div>
                        <div class="col-sm-3">
                            <label>Estado</label>
                            <select class="form-control" [(ngModel)]="filter.status">
                                <option *ngFor="let s of status; let i=index;" value="{{ s.id }}">{{ s.name }}</option>
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <label>&nbsp;</label><br/>
                            <button class="btn btn-block btn-primary" (click)="getOrders()">Filtrar</button>
                        </div>
                    </div>
                </div>
                <app-no-results *ngIf="results.length == 0"></app-no-results>
                <table class="table mt-4 table-hover" *ngIf="results.length > 0">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col" class="text-center">Fecha</th>
                            <th scope="col" class="text-center">Estado</th>
                            <th scope="col" class="text-center">Items</th>
                            <th scope="col" class="text-right">Total</th>
                            <th scope="col" class="text-right">Actualizado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of results; let i=index;" class="cursor-pointer" (click)="goToDetail(item.id)">
                            <th scope="row">{{ item.id }}</th>
                            <td class="text-center">{{ item.createdAt | date:'dd/MM/yyyy HH:mm' }}</td>
                            <td class="text-center"><span class="badge badge-{{ item.status.color }}">{{ item.status.name }}</span></td>
                            <td class="text-center">{{ item.items.length }}</td>
                            <td class="text-right">{{ item.totals[0].currency.symbol }} {{ (item.totals[0].total) | number:'1.2-2' }}</td>
                            <td class="text-right">{{ item.updatedAt | date:'dd/MM/yyyy HH:mm' }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<app-popups [section]="'ACCOUNT-ORDERS'"></app-popups>