<div class="container">
	<div class="row">
		<div class="col-lg-6"></div>
		<div class="col-lg-6">
			<div class="box-product-salient">
				<div id="carouselSalientHome" class="carousel slide" data-ride="carousel">
					<div class="carousel-inner" >
						<div class="carousel-item" *ngFor="let item of salients; let i=index;" [ngClass]="{'active': i == 0 }">
							<div class="row">
								<div class="col-md-6">
									<h2>{{ item.name }}</h2>
									<p>{{ item.description }}</p>
									<button class="btn btn-block btn-primary rounded-pill btn-primary mb-3">
										Ir a la Tienda
									</button>
								</div>
								<div class="col-sm-6">
									<div class="img" *ngIf="item.picture" style="background-image: url('{{ environment.baseUrl }}uploads/sm/{{ item.picture }}');"></div>
									<div class="img" *ngIf="!item.picture" style="background-image: url('https://picsum.photos/seed/{{ item.id }}/260');"></div>
								</div>
							</div>
						</div>
					</div>
					<button class="btn-carrousel btn rounded-circle btn-outline-primary mr-2" onclick="javascript:$('#carouselSalientHome').carousel('prev')">
						<i class="bi bi-chevron-left"></i>
					</button>
					<button class="btn-carrousel btn rounded-circle btn-primary" onclick="javascript:$('#carouselSalientHome').carousel('next')">
						<i class="bi bi-chevron-right"></i>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>