<div class="spacer-header" style="height: 90px;"></div>
<div class="container">
    <div class="account">
        <div class="row">
            <div class="col-md-3 menu p-4 pb-5">
                <app-menu></app-menu>
            </div>
            <div class="col-md-9 action p-4">
                <app-account-cards></app-account-cards>
                <table class="table mt-4">
                    <thead>
                        <tr>
                            <th scope="col" class="text-left">Producto</th>
                            <th scope="col" class="text-center">Precio</th>
                            <th scope="col" class="text-center">Cantidad</th>
                            <th scope="col" class="text-center">Subtotal</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>