<app-navbar [fixed]=false></app-navbar>
<div class="mb-5"></div>
<div class="container">
    <div class="breadcrumb-custom">
        <p>
            <a href="javascript:window.history.go(-1);"> <i class="bi bi-arrow-left"></i> Volver</a>
        </p>
        <p *ngIf=ready>
            <span *ngIf="categorySelected=='forIndustry'">Para la Industria | </span>  
            <span *ngIf="categorySelected=='forHome'">Para Hogar | </span> 
            <span *ngIf="categorySelected=='forEvent'">Para Eventos | </span>  
            <span><a routerLink="/servicios/{{ categorySelected }}/{{ data.service.id }}">{{ data.service.name }}</a> | </span>
            <span><a routerLink="/servicio/{{ categorySelected }}/{{ data.id }}">{{ data.name }}</a> | </span>
            <span>Formulario de cotización</span>
        </p>
    </div>
</div>
<div class="container">
<div class="card">
    <div class="card-body">
        <form  (ngSubmit)="save(cotization)" #cotization="ngForm">
            <h4 class="card-title text-center text-dark">Formulario de cotización</h4>
            <hr>
            <div class="row py-4">
                <div class="col-sm-12 form-group">
                    <label>Servicio</label> 
                    <input class="form-control rounded-pill py-4 px-4" type="text"
                        [(ngModel)]="form.cotization.modelName" name="modelName" disabled="disabled"
                        #cotization_modelName="ngModel" required minlength="5">
                </div>
                <div class="col-sm-6 form-group">
                    <label>Razón Social *</label>
                    <input class="form-control rounded-pill py-4 px-4" type="text"
                        [class.is-invalid]="cotization_company.invalid && cotization_company.touched"
                        [(ngModel)]="form.cotization.company" name="company"
                        #cotization_company="ngModel" required >
                    <small *ngIf="cotization_company.invalid && cotization_company.touched" class="form-text text-danger">Ingrese un valor válido</small>
                </div>
                <div class="col-sm-6 form-group">
                    <label>RUT *</label>
                    <input class="form-control rounded-pill py-4 px-4" type="text"
                        [class.is-invalid]="cotization_rut.invalid && cotization_rut.touched"
                        [(ngModel)]="form.cotization.rut" name="rut"
                        #cotization_rut="ngModel" required minlength="5">
                    <small *ngIf="cotization_rut.invalid && cotization_rut.touched" class="form-text text-danger">Ingrese un valor válido</small>
                </div>
                <div class="col-sm-6 form-group">
                    <label>Dirección comercial *</label>
                    <input class="form-control rounded-pill py-4 px-4" type="text"
                        [class.is-invalid]="cotization_comercialAddressStreet.invalid && cotization_comercialAddressStreet.touched"
                        [(ngModel)]="form.cotization.comercialAddressStreet" name="comercialAddressStreet"
                        #cotization_comercialAddressStreet="ngModel" required >
                    <small *ngIf="cotization_comercialAddressStreet.invalid && cotization_comercialAddressStreet.touched" class="form-text text-danger">Ingrese un valor válido</small>
                </div>
                <div class="col-sm-2 form-group">
                    <label>Nº</label>
                    <input class="form-control rounded-pill py-4 px-4" type="text"
                        [class.is-invalid]="cotization_comercialAddressNumber.invalid && cotization_comercialAddressNumber.touched"
                        [(ngModel)]="form.cotization.comercialAddressNumber" name="comercialAddressNumber"
                        #cotization_comercialAddressNumber="ngModel" >
                    <small *ngIf="cotization_comercialAddressNumber.invalid && cotization_comercialAddressNumber.touched" class="form-text text-danger">Ingrese un valor válido</small>
                </div>
                <div class="col-sm-4 form-group">
                    <label>Comuna</label>
                    <input class="form-control rounded-pill py-4 px-4" type="text"
                        [class.is-invalid]="cotization_comercialAddressCity.invalid && cotization_comercialAddressCity.touched"
                        [(ngModel)]="form.cotization.comercialAddressCity" name="comercialAddressCity"
                        #cotization_comercialAddressCity="ngModel" >
                    <small *ngIf="cotization_comercialAddressCity.invalid && cotization_comercialAddressCity.touched" class="form-text text-danger">Ingrese un valor válido</small>
                </div>
                <div class="col-sm-6 form-group">
                    <label>Dirección del servicio *</label>
                    <input class="form-control rounded-pill py-4 px-4" type="text"
                        [class.is-invalid]="cotization_serviceAddressStreet.invalid && cotization_serviceAddressStreet.touched"
                        [(ngModel)]="form.cotization.serviceAddressStreet" name="serviceAddressStreet"
                        #cotization_serviceAddressStreet="ngModel" required >
                    <small *ngIf="cotization_serviceAddressStreet.invalid && cotization_serviceAddressStreet.touched" class="form-text text-danger">Ingrese un valor válido</small>
                </div>
                <div class="col-sm-2 form-group">
                    <label>Nº</label>
                    <input class="form-control rounded-pill py-4 px-4" type="text"
                        [class.is-invalid]="cotization_serviceAddressNumber.invalid && cotization_serviceAddressNumber.touched"
                        [(ngModel)]="form.cotization.serviceAddressNumber" name="serviceAddressNumber"
                        #cotization_serviceAddressNumber="ngModel" >
                    <small *ngIf="cotization_serviceAddressNumber.invalid && cotization_serviceAddressNumber.touched" class="form-text text-danger">Ingrese un valor válido</small>
                </div>
                <div class="col-sm-4 form-group">
                    <label>Comuna</label>
                    <input class="form-control rounded-pill py-4 px-4" type="text"
                        [class.is-invalid]="cotization_serviceAddressCity.invalid && cotization_serviceAddressCity.touched"
                        [(ngModel)]="form.cotization.serviceAddressCity" name="serviceAddressCity"
                        #cotization_serviceAddressCity="ngModel" >
                    <small *ngIf="cotization_serviceAddressCity.invalid && cotization_serviceAddressCity.touched" class="form-text text-danger">Ingrese un valor válido</small>
                </div>
                <div class="col-sm-6 form-group">
                    <label>Nombre Completo *</label>
                    <input class="form-control rounded-pill py-4 px-4" type="text"
                        [class.is-invalid]="cotization_name.invalid && cotization_name.touched"
                        [(ngModel)]="form.cotization.name" name="name"
                        #cotization_name="ngModel" required minlength="5">
                    <small *ngIf="cotization_name.invalid && cotization_name.touched" class="form-text text-danger">Ingrese un valor válido</small>
                </div>
                <div class="col-sm-6 form-group">
                    <label>Fono *</label>
                    <input class="form-control rounded-pill py-4 px-4" type="text"
                        [class.is-invalid]="cotization_phone.invalid && cotization_phone.touched"
                        [(ngModel)]="form.cotization.phone" name="phone"
                        #cotization_phone="ngModel" required minlength="5">
                    <small *ngIf="cotization_phone.invalid && cotization_phone.touched" class="form-text text-danger">Ingrese un valor válido</small>
                </div>
                <div class="col-sm-6 form-group">
                    <label>E-Mail *</label>
                    <input class="form-control rounded-pill py-4 px-4" type="text"
                        [class.is-invalid]="cotization_email.invalid && cotization_email.touched"
                        [(ngModel)]="form.cotization.email" name="email"
                        #cotization_email="ngModel" required minlength="5" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
                    <small *ngIf="cotization_email.invalid && cotization_email.touched" class="form-text text-danger">Ingrese un valor válido</small>
                </div>
                <div class="col-sm-6 form-group">
                    <label>Frecuencia del servicio</label>
                    <input class="form-control rounded-pill py-4 px-4" type="text"
                        [class.is-invalid]="cotization_frequency.invalid && cotization_frequency.touched"
                        [(ngModel)]="form.cotization.frequency" name="frequency"
                        #cotization_frequency="ngModel" >
                    <small *ngIf="cotization_frequency.invalid && cotization_frequency.touched" class="form-text text-danger">Ingrese un valor válido</small>
                </div>
                <div class="col-sm-12 form-group">
                    <label>Observaciones</label>
                    <textarea class="form-control rounded-pill py-4 px-4" 
                        [(ngModel)]="form.cotization.observation" name="observation"
                        #cotization_observation="ngModel" ></textarea>
                </div>
            </div>
            <div class="text-center">
                <p>
                    <small *ngIf="cotization_failed" class="form-text text-danger">Ocurrió un error, por favor revise el formulario</small>
                </p>
                <button class="btn-get-started rounded-pill btn-primary px-5 py-3" >Enviar</button>
            </div>
        </form>
    </div>
</div>
</div>
<app-popups [section]="'COTIZATION'"></app-popups>
