<app-navbar [fixed]=true></app-navbar>
<section id="hero">
    <div class="hero-container">
        <div class="row">
            <div class="col-lg-6"></div>
            <div class="col-lg-6 text-left">
                <h1>Economía circular</h1>
                <h2>Gestionamos tu patio de residuos</h2>
                <h3>Con 30 años de experiencia nos hacemos cargo de tus residuos de forma responsable y eficiente.</h3>
                <a href="#services" title="Solicitar servicio" class="btn-get-started rounded-pill btn-primary">Conocer servicios</a>
            </div>
        </div>
    </div>
</section>
<app-box-product-salient></app-box-product-salient>
<main id="main">
    <app-aboutus></app-aboutus>
    <app-call-to-action></app-call-to-action>
    <app-service></app-service>
    <app-contact></app-contact>
</main>
<app-popups [section]="'HOME'"></app-popups>

