<app-navbar [fixed]=false></app-navbar>
<div class="mb-5"></div>
<div class="container">
    <div class="breadcrumb-custom">
        <p>
            <a href="javascript:window.history.go(-1);"> <i class="bi bi-arrow-left"></i> Volver</a>
        </p>
        <p *ngIf="ready">
            <span><a routerLink="/servicios"> Unidades sanitarias </a> | {{ item.name }}</span>
        </p>
    </div>
</div>
<div class="container">
    <div class="product_view">
        <div class="row" *ngIf="ready">
            <div class="col-md-6 py-4 px-5">
                <img *ngIf="item.picture" src="{{ environment.baseUrl }}uploads/lg/{{ item.picture }}" class="w-100"
                    alt="{{ item.name }}">
                <!-- <img *ngIf="!item.picture" src="../assets/no-foto.png" class="w-100" alt="{{ item.name }}"> -->
                <img *ngIf="!item.picture" src="https://picsum.photos/seed/{{ item.id }}/500" class="w-100"
                    alt="{{ item.name }}">
            </div>
            <div class="col-md-6 description">
                <h3>{{ item.name }}</h3>
                <hr class="blue mt-4 mb-4">
                <p>DESCRIPCION<br />{{ item.description}}</p>
                <hr>
                <div class="text-center my-5">
                    <button class="btn rounded-pill btn-primary p-4" (click)="goToCotization(item.id)">
                        <span class="text-uppercase">Solicitar cotización</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>